.club__name{
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .post_header{
        font-size: 15px;
    }
    .club__name{
        font-size: 10px;
    }
    .sm{
        font-size: 14px;
    }
}